body {
    position: relative;
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-size: 17px;
    margin: 0;
    height: 100%;
    width: 100%;
}

h3 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

/* Верхнее меню */
.wrap-menu {
    z-index: 15;
    background: #242424;
    height: 65px;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,0.53);
}
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #242424;
    color: #ddd7e0;
    height: 65px;
}
.top-menu span {
    font-size: 19px;
    font-weight: bolder;
}
    .top-menu span:hover {
        color: #5d8c0c;
        cursor: pointer;
    }
    .top-menu span::selection {
        background: none;
    }

/* Табы */
.wrap-services-tab {
    display: flex;
    height: 100vh;
    align-items: center;
    margin-top: -32.5px;
}

.services-tab {
    width: 100%;
}
.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid #DEDEDE;
    background: #f6f6f6;
}

.nav-tabs li {
    list-style-type: none;
    width: 130px;
    margin-right: 20px;
    background: #107BFD;
    border-radius: 2px;
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0 #0B325E, inset 1px -10px 0px 3px rgba(0,0,0,0);
}
    .nav-tabs li:last-child {
    margin-right: 0;
    }

    .nav-tabs li:hover {
        cursor: pointer;
        background: #4D9DFC;
        transition: all .12s linear;
    }
    .nav-tabs li:active {
        box-shadow: inset 0 5px 16px 10px #1F87FF, 5px 5px 10px 0 #0B325E, inset 1px -10px 0 3px rgba(0,0,0,0);

    }
.nav-tabs .active {
    background: #4D9DFC;
    transition: background .1s linear;
    box-shadow: inset 0 5px 16px 10px #1F87FF, 2px 5px 10px 0 #0B325E, inset 1px -10px 0 3px rgba(0,0,0,0);
}
.nav-tabs li a {
    font-size: 19px;
    line-height: 30px;
    text-decoration: none;
    color: whitesmoke;
}
.nav-tabs .active a {
    color: #cce5ff;
}

.tab-content {
    height: 500px;
    font-size: 22px;
    border: 1px solid #DEDEDE;
    border-top: 0;
    border-radius: 4px;
}

.tab-content .tab-pane {
    display: none;
}


.tab-content .tab-pane.active {
    display: block;
}


/*accordion*/
.accordion-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
}

img{
    max-width: 100%;
}

section {
    margin-bottom: 500px;
}

.accordion-item .accordion-body {
    display: none;
}

.accordion-header{
    cursor: pointer;
}
.accordion-item.active .accordion-header{
    transition: all .15s linear;
    background-color: #007bff;
    color: #fff;
}
.accordion-item.active  .accordion-body{
    display: block;
}

#my-footer {
    background: #8D8B83;
}