body {
  position: relative;
  background: repeating-linear-gradient(270deg, #171717, #323232);
  font-family: Calibri, sans-serif;
  text-align: center;
  color: #FFFAFA;
  height: 100vh;
  width: 100%;
  margin: 0; }
  body .timer-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }

.timer-button {
  height: 50px;
  line-height: 50px;
  padding-bottom: 0.2%;
  width: 25%;
  font-size: 20px;
  font-weight: bold;
  background-color: #424242;
  border: 2px solid #323232; }
  .timer-button:hover {
    cursor: pointer;
    background-color: #3D3D3D;
    color: Peru;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease; }
  .timer-button:active {
    color: #E6BA8E;
    -webkit-transition: color 0.15s ease;
    transition: color 0.15s ease; }
  .timer-button::-moz-selection {
    background-color: none; }
  .timer-button::selection {
    background-color: none; }

form {
  border: 2px solid #323232;
  width: 25%; }
  form input {
    height: 90%;
    width: 99%;
    font-size: 17px; }
    form input[type='number'] {
      -moz-appearance: textfield; }
    form input::-webkit-outer-spin-button, form input::-webkit-inner-spin-button {
      -webkit-appearance: none; }

.display {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .display h1 {
    font-size: 10em;
    margin: 0; }
  .display p {
    font-size: 32px;
    margin-bottom: 0; }
  .display .btn-stop {
    display: none;
    margin-top: 30px;
    width: 20%; }

.btn-stop.show {
  display: inline-block; }
