.chart {
  height: 100%;
  position: relative;
}

.wrapper_chart-percent {
  position: relative;
}

.chart-percent {
  font-weight: bold;
  position: relative;
  top: 24px;
  font-size: 8px;
  left: 0;
  text-align: center;
}

.additional-information {
  display: inline-block;
  position: relative;
  bottom: 46%;
  left: 50%;
  background: white;
  padding: 10px;
}

